/* Page loader */
.loader {
  &_wrap {
    width: 6.7rem;
    text-decoration: underline;
  }

  path {
    stroke-width: 2;
    stroke: gray;
  }

  svg {
    overflow: visible;
    height: 100%;

    /* Fix Safari rendering bug */
    transform: translateZ(0);
  }
}
