.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.header-right-side {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;
}

.header-button button {
    margin-left: 20px;
}